@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400");

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #333333;
}

nav {
  width: 100%;
  height: 75px;
  box-shadow: 0 0 12.4px 0.7px rgba(0, 0, 0, 0.13);
  overflow: auto;
  position: relative;
  z-index: 0;
}

.container {
  display: flex;
  flex-direction: row;
}

#logo {
  flex-grow: 0.6;
  margin-left: 33px;
  margin-top: 15px;
  margin-bottom: 12px;
}

#logo > img {
  width: 259px;
  height: 48px;
}

#menus {
  flex-grow: 1;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
  margin-right: 16px;
}

.item > p {
  font-size: 14.5px;
}

#icones {
  display: flex;
  margin-right: 63px;
}

#shopping-cart {
  position: relative;
}

#busca > img,
#usuario > img,
#shopping-cart > img {
  width: 31px;
  height: 31px;
  margin-top: 23px;
}

#busca > img {
  margin-right: 65px;
}

#usuario > img {
  margin-right: 57px;
}

#shopping-cart > img:hover {
  filter: invert(70%);
}

#arrow-up {
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #eeeeee;
  bottom: 0;
  position: absolute;
  z-index: 1;
  display: none;
}

#mini-cart {
  width: 292px;
  height: 459px;
  margin-left: auto;
  margin-right: 30px;
  display: none;
  opacity: 0.9;
  box-shadow: -1.7px 1px 5px 0.1px rgba(0, 0, 0, 0.14);
  background-color: #eeeeee;
  position: relative;
}

#lista-produtos {
    width: 100%;
    height: 345px;
    overflow-y: auto;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #dcdcdc;
}

::-webkit-scrollbar-thumb {
  background-color: #707070;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #dcdcdc;
}

.produto {
  width: 100%;
  height: 117px;
  opacity: 0.9;
  display: grid;
  grid-template-columns: 109px 20% auto;
  grid-template-rows: 50% 50%;
}

.img {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 3;
}

.img > img {
  width: 86px;
  height: 85px;
  margin-left: 11px;
  margin-top: 15px;
  margin-right: 20px;
}

.nome-produto {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
}

.nome-produto > p {
  width: 140px;
  height: 32px;
  text-align: left;
  font-size: 13px;
  color:#333333;
  font-weight: 300;
  margin-top: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.quantidade-produto {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
}

.quantidade-produto > p {
  width: 39px;
  height: 13px;
  font-size: 13px;
  font-weight: normal;
  text-align: left;
  color: #333333;
}

.valor-produto {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2;
}

.valor-produto > p {
  margin-top: 14px;
  margin-left: 0;
  height: 15px;
  color: #00bb16;
  font-size: 13px;
  font-weight: bold;
}

#lista-produtos > hr {
  width: 93%;
  height: 0px;
  border: solid 0.6px #e5e5e5;
  background-color: #eeeeee;
  margin-left: 8px;
}

#total-pedido {
    width: 100%;
    height: 57px;
    background-color: #e5e5e5;
    bottom: 57px;
    position: absolute;
    font-size: 16.5px;
    color: #565656;
    white-space: nowrap;
}

#total-pedido > p {
    display: inline-block;
    text-align: center;
}

#total-pedido p:nth-child(1) {
    margin-left: 30px;
}

#total-pedido p:nth-child(2) {
    font-weight: bold;
    margin: auto;
}

#finalizar-compra {
  width: 100%;
  height: 57px;
  background-color: #00bb16;
  border: none;
  bottom: 0;
  position: absolute;
  font-weight: bold;
  font-size: 16.5px;
  color: #ffffff;
}


