body {
    margin: 0;
    padding: 0;
}

nav {
  width: 100%;
  height: 75px;
  border-style: solid;
  border-width: 5px;
}

.container {
  display: flex;
  flex-direction: row;
}

#logo {
  flex-grow: 1;
}

#menus {
  flex-grow: 2;
}

.item {
  flex-grow: 1;
}

#icones {
  flex-grow: 1;
}


